.shapeProperitesBox{
    min-width: 20px;
    min-height: 20px;
    stroke:blue;
    stroke-width: 5px;
    height: 50px;
    width: 50px;
    fill: transparent;
    filter: drop-shadow(2px 2px 5px #aaa);
}