.chatBox{
    position: absolute;
    right: 0px;
    top: 50px;
    background-color: white;
    padding: 5px 10px;
    border-radius: 5px;
    min-width: 300px;
}
.chatBox header{
    padding: 5px;
    padding-bottom: 10px;
    border-bottom: 1px solid #ccc;
}
.msgContainer{
    box-shadow: inset 0px 0px 5px #ddd;
    padding: 5px 0;
    min-height: 200px;
    max-height: 400px;
    overflow-y: scroll;
}
.inputBox{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 0px;
    padding-top: 10px;
}
.inputBox > input{
    padding: 5px 10px;
    border: 2px solid #ccc;
    width: 55%;
}
.sendBtn{
    border-radius: 4px !important;
    border-color: #ccc !important;
}
.callBtn{
    padding: 8px 10px;
}
.callBtn:hover{
    background-color: #eee;
}